@charset "UTF-8";
html {
  font-size: 1px !important;
  overflow: visible !important;
}
body {
  width: 1100px !important;
  margin: 0 auto !important;
}
.inner {
  width: 1100px;
}

header,
footer,
nav {
  display: none !important;
}
.fade {
  opacity: 1;
}
.fade-l {
  opacity: 1;
}
.fade-r {
  opacity: 1;
}
.header,
.header.active {
  position: relative;
}
.main-menu.active .menu-fixed {
  position: relative;
}
